<!DOCTYPE html>
<html>
<head>
<meta charset="EUC-KR">
<title>17th html</title>
</head>
<body>
	<input id="toggle" type="checkbox">
	<div id="wrap">
		<header id="main_header">
			<a class="left" href="#"><img src="img/category.png" alt="category"></a>
			<h1>Mobile</h1>
			<label class="right" for="toggle" onclick=""><img src="img/menu.png" alt="menu"></label>
		</header>
		
		<div id="gnb_wrap">
			<div id="gnb">
				<ul>
					<li><a href="#">gnb1</a></li>
					<li><a href="#">gnb2</a></li>
					<li><a href="#">gnb3</a></li>
					<li><a href="#">gnb4</a></li>
					<li><a href="#">gnb5</a></li>
					<li><a href="#">gnb6</a></li>
					<li><a href="#">gnb7</a></li>
					<li><a href="#">gnb8</a></li>
				</ul>
			</div>
		</div>
	</div>
	
</body>
</html>